@tailwind base;
@tailwind components;
@tailwind utilities;
@import url("https://fonts.googleapis.com/css?family=Poppins:200,300,400,500,600,700,800,900&display=swap");

@layer base {
  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
    @apply scrollbar-hide;
  }
}

@layer components {
  .hoverAnimation {
    @apply hover:bg-[#d9d9d9] hover:bg-opacity-10 rounded-full cursor-pointer w-[52px] h-[52px] xl:w-auto xl:h-auto xl:py-3 xl:px-4 transition duration-200 ease-out;
  }
  .icon {
    @apply cursor-pointer px-4 py-3 space-x-1 hover:bg-[#1d9bf0] hover:bg-opacity-10 flex items-center justify-center rounded-full transition ease-out;
  }
  .loginBox {
    @apply relative w-1/2 h-full flex justify-center items-center flex-col login:absolute login:w-full login:h-[25%] login:bottom-0 transition-opacity delay-75;
  }
  .loginBoxH2 {
    @apply text-white text-[1.2em] font-medium mb-[10px];
  }
  .loginForm {
    @apply absolute left-0 w-full p-[50px] login:px-10 duration-500;
  }
  .loginFormInput {
    @apply w-full mb-5 p-[10px] outline-none text-base bg-transparent text-white border border-[#333] rounded-2xl pl-3 focus:border-[3px] transition duration-500 focus:border-gray-400;
  }
  .loginInputError {
    @apply !border-red-500 !border-[3px];
  }
  .loginFields {
    @apply w-full flex flex-col;
  }
  .loginTitle {
    @apply text-[1.5em] text-white mb-5 font-medium;
  }
}

.bg-homeBg {
  background: -webkit-radial-gradient(50.53% 52.6%, ellipse farthest-corner, rgba(23, 0, 54, 1) 0%, rgba(23, 0, 54, 1) 100%);
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Stlye=2);";
  background: radial-gradient(50.53% 52.6%, ellipse farthest-corner, rgba(23, 0, 54, 1) 0%, rgba(23, 0, 54, 1) 100%);
  filter: progid:DXImageTransform.Microsoft.Alpha(Stlye=2);
}

.bg-gradient {
  background: -webkit-linear-gradient(-55.83deg, rgba(114, 0, 226, 1) 0%, rgba(114, 0, 226, 1) 28.57%, rgba(107, 0, 219, 0.85) 39.42%, rgba(88, 1, 201, 0.63) 55.11%, rgba(56, 3, 171, 0.37) 73.75%, rgba(13, 5, 130, 0.08) 94.51%, rgba(0, 6, 118, 0) 100%);
}

.left-move {
  transform: translate(-100%, 0);
}

.right-move {
  transform: translate(100%, 0);
}
